@import "tailwindcss";
@import "@heroui/styles"; 


@theme {
  --bg-white: #fff;
  --dark: ##030712;
  --cor-principal: #7f49b4;
  --cor-priHover: #2f1c41;
}

body {
  background-color: var(--bg-white);
}